body{
    
    padding-block-start: 12px ;
    margin: 12 px;
    color-scheme:red ;
    font-size: medium;
    background-image: url("Hackers-PC-Backgrounds.jpeg");   
    
}
h1 {
    color:white;
    text-align: center;
    
}